<!-- edit_profile.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil del Usuario</title>
</head>
<body>
    <h1>Editar Perfil de {{ user['username'] }}</h1>
    <form method="post">
        <label for="pictureURL">URL de Foto/Avatar:</label>
        <input type="text" id="pictureURL" name="pictureURL" value="{{ user['pictureURL'] }}"><br>

        <label for="fullName">Nombre Completo:</label>
        <input type="text" id="fullName" name="fullName" value="{{ user['fullName'] }}"><br>

        <label for="address">Dirección:</label>
        <input type="text" id="address" name="address" value="{{ user['address'] }}"><br>

        <label for="birthday">Fecha de Nacimiento:</label>
        <input type="date" id="birthday" name="birthday" value="{{ user['birthday'] }}"><br>

        <label for="linkedIn">URL de LinkedIn:</label>
        <input type="text" id="linkedIn" name="linkedIn" value="{{ user['linkedIn'] }}"><br>

        <label for="socialMedia">URL de Red Social:</label>
        <input type="text" id="socialMedia" name="socialMedia" value="{{ user['socialMedia'] }}"><br>

        <input type="submit" value="Guardar Cambios">
    </form>
    <a href="{{ url_for('profile', username=user['username']) }}">Volver al Perfil</a>
</body>
</html>